@font-face {
  font-family: "Handwriting";
  src: url("fonts/handwriting.ttf");
}
@font-face {
  font-family: "PixelFont";
  src: url("fonts/PressStart2P-Regular.ttf");
}
body {
  background: #f2efe9;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.journal-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.journal-wrapper .pixel-title {
  color: #000;             
  text-shadow: none;       
}
.pixel-card {
  width: 340px;
  background: #fff;
  padding: 20px;
  border: 4px solid #000;
  box-shadow: 8px 8px 0 #000;
}

.title {
  text-align: center;
  letter-spacing: 2px;
}

.tagline {
  text-align: center;
  font-size: 12px;
  margin-bottom: 12px;
}

.date {
  text-align: center;
  font-size: 11px;
  margin-bottom: 10px;
  opacity: 0.7;
}

textarea {
  width: 100%;
  height: 120px;
  font-family: "Handwriting";
  font-size: 16px;
  padding: 10px;
  border: 3px solid #000;
  resize: none;
  background: #fafafa;
}

.pixel-btn {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  border: 3px solid #000;
  background: #ffcad4;
  cursor: pointer;
  box-shadow: 4px 4px 0 #000;
}

.pixel-btn:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.mood-box {
  margin-top: 12px;
  font-size: 13px;
  text-align: center;
}
textarea::placeholder {
  font-weight: bold;
  opacity: 0.9;
}
.home-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.home-card {
  width: 440px;
  padding: 24px;
  background-color: #fffdf8;
  border: 4px solid #000;
  box-shadow: 6px 6px 0 #000;
  font-family: "Courier New", monospace;
}
.home-card p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 14px;
}

.tagline {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}
.pixel-title {
    color: #ffcad4;
    text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
  font-family: "PixelFont";
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

/* CALENDAR STYLING */

.calendar-wrapper {
  padding: 40px;
  text-align: center;
}

.calendar-wrapper .pixel-title.black {
  color: #000;
  text-shadow: none;
}

.calendar-sub {
  font-size: 14px;
  margin-bottom: 30px;
  color: #444;
}
.calendar-day {
  width: 48px;
  height: 48px;

  background: #f2f2f2;
  border: 3px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 11px;
  font-weight: bold;
  color: #000;

  cursor: pointer;
  transition: transform 0.12s ease;
}

.calendar-day:hover {
  transform: scale(1.1);
}


.calendar-day.filled {
  box-shadow: inset 0 0 0 2px #000;
  background: #ffd6a5;
}
#calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  gap: 18px;
  max-width: 500px;
  margin: 40px auto;
  justify-content: start;
}
.month-label {
  grid-column: 1 / -1; 
  font-family: 'PixelFont', monospace;
  font-size: 14px;
  margin: 16px 0 6px;
  color: #000;
  letter-spacing: 2px;
}